#tabuleiro{
  background-color: #f2f2f2;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  /* justify-content: center; */
}

#tituloJogo{
  text-align: center;
}


.grid{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.celula{
  background-color: black;
  width: 100px;
  height: 100px;

  margin: 4px 2px;
  text-align: center;

  color: white;
  font-size: 80px;
}